/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  margin: 0 auto;
  text-align: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
  top: 50%;
  left: 50%;
}

.hidden {
  display: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-form {
  margin: 0 auto;
  padding: 36px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 16px;
}

.gallery-item {
  /* flex-basis: calc((100% - 48px) / 3); */
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  transition: transform 340ms cubic-bezier(0.39, 0.46, 0.02, 0.86);

  position: relative;
}

.item-info {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;

  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;

  background-color: #fff;

  padding: 4px 20px;
}

.stats-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  letter-spacing: 0.04em;
}

.stats-value {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2; /* 133.333% */
  letter-spacing: 0.04em;
}

.gallery-link {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gallery-image {
  object-fit: cover;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-link:focus > .gallery-image {
  transform: scale(1.04);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 95px;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  background-color: #4e75ff;

  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-right: auto;

  transition: background-color 340ms cubic-bezier(0.39, 0.46, 0.02, 0.86);
}

.btn:is(:hover, :focus) {
  background-color: #6c8cff;
}

.text-request {
  width: 272px;
  height: 40px;

  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;

  font-size: 16px;
  color: #2e2f42;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: border-color 340ms cubic-bezier(0.39, 0.46, 0.02, 0.86);
}

.text-request:is(:hover, :focus) {
  border-color: #000;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
